

@media screen and (min-width:400px){
   /***************************
    TWO COLUMN LAYOUT
    ***************************/

    #primary {
        width: 50%;
        float: left;
    }
    
    #secondary { width: 40%; float: right;}

    /***************************
    THREE COLUMN LAYOUT
    PAGE: PROTFOLIO
    ***************************/

    /*FOR GALERRY LAYOYT
    01. MARGIN BOTH SIDE : 1.5%
    02. TOTAL MARGIN NEED EACH IMAGE IS: 4*1.5=5%
    03. FOR THREE IMAGES EACH ROW SO TOTAL MARGIN EACH ROW
        IS = 3*5 =15%
    04. REMAIN SIZE = 100% - 15% = 85%
    05. EACH ROW IN EACH IMAGE NEED SIZE IS = 85 / 3 = 28.3333333 
    */

    #gallery li {
        width: 28.3333%;
    }

    #gallery li:nth-child(4n) {
        clear: left;
    }

    /***************************
    PAGE: ABOUT
    ***************************/

    .profile-photo { float: left; margin: 0 5% 80px 0}

}

@media screen and (min-width:660px){
    
    
    /***************************
    HEADING
    ***************************/

    header {
        overflow: hidden;
        border-bottom: solid 5px #599168;
        
    }
    nav {
        background: none;
        float: right;
        font-size: 1.125em;
        margin-right: 5%;
        text-align: right;
        width: 45%;
      }

      #logo {
        float: left;
        margin-left: 5%;
        text-align: left;
        width: 45%;
      }

      h1 {font-size: 2.5em}
      h2 {font-size: 0.825em; margin-bottom: 20px;}
}